@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-apple:
    "SF Pro Display", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue",
    "Segoe UI", "Roboto", "Arial", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-sans: var(--font-apple);
  --font-mono: var(--font-jetbrains);
  --color-background: var(--background);
  --color-sidebar: var(--sidebar);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
}

:root {
  --background: oklch(97.614% 0.00011 271.152);
  --sidebar: oklch(100% 0.00011 271.152);
  --primary: oklch(15.796% 0.01086 67.78);
  --border: oklch(88.915% 0.00107 11.966);
  --secondary: oklch(50.76% 0.00526 78.145);
}

.dark {
  --background: oklch(15.796% 0.01086 67.78);
  --sidebar: oklch(17.653% 0.01039 67.027);
  --primary: oklch(97.614% 0.00011 271.152);
  --border: oklch(28.678% 0.00836 75.195);
  --secondary: oklch(60.773% 0.00379 67.344);
}

@layer base {
  html,
  body {
    background-color: var(--color-background);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100%;
    /* Tambahkan rendering teks khas Apple agar lebih tajam */
    /* scroll-behavior: smooth; */
    text-rendering: optimizeLegibility;
    *,
    ::before,
    ::after {
      transition:
        background-color 0.2s ease,
        border-color 0.2s ease,
        color 0.2s ease;
    }
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
