@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-apple: "SF Pro Display", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Roboto", "Arial", sans-serif;
  --color-light-1: rgb(242, 242, 247);
  --color-light-2: rgb(229, 229, 234);
  --color-light-3: rgb(209, 209, 214);
  --color-light-4: rgb(199, 199, 204);
  --color-light-5: rgb(174, 174, 178);
  --color-light-6: rgb(142, 142, 147);
  --color-light-contrast-1: rgb(235, 235, 240);
  --color-light-contrast-2: rgb(216, 216, 220);
  --color-light-contrast-3: rgb(188, 188, 192);
  --color-light-contrast-4: rgb(174, 174, 178);
  --color-light-contrast-5: rgb(142, 142, 147);
  --color-light-contrast-6: rgb(108, 108, 112);
  --color-dark-1: rgb(142, 142, 147);
  --color-dark-2: rgb(99, 99, 102);
  --color-dark-3: rgb(72, 72, 74);
  --color-dark-4: rgb(58, 58, 60);
  --color-dark-5: rgb(44, 44, 46);
  --color-dark-6: rgb(28, 28, 30);
  --color-dark-contrast-1: rgb(174, 174, 178);
  --color-dark-contrast-2: rgb(124, 124, 128);
  --color-dark-contrast-3: rgb(84, 84, 86);
  --color-dark-contrast-4: rgb(68, 68, 70);
  --color-dark-contrast-5: rgb(54, 54, 56);
  --color-dark-contrast-6: rgb(36, 36, 38);
  --shadow-light :  0px 0px 5px 0px rgb(209, 209, 214);
  --shadow-dark :  0px 0px 5px 0px rgb(58, 58, 60);
  --color-red-light: rgb(255, 56, 60);
  --color-red-dark: rgb(255, 66, 69);
  --color-red-contrast-light: rgb(233, 21, 45);
  --color-red-contrast-dark: rgb(255, 97, 101);
  --color-blue-light: rgb(0, 136, 255);
  --color-blue-dark: rgb(0, 145, 255);
  --color-blue-contrast-light: rgb(30, 110, 244);
  --color-blue-contrast-dark: rgb(92, 184, 255);
}

@layer base {
  html {
    background-color: var(--color-light-1);
  }

  html.dark {
    background-color: var(--color-dark-6);
  }

  html, body {
    @apply bg-light-1 text-dark-6;
    font-family: var(--font-apple);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100%;    
    /* Tambahkan rendering teks khas Apple agar lebih tajam */
    text-rendering: optimizeLegibility;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  @variant dark {
    html, body {
      @apply bg-dark-6 text-light-1;
    }
  }
}